.app-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-width: 99%;
    min-height: 100vh;
}


/* Responsive grid layout for Header, Main, and Footer */

header,
main,
footer {
    padding: 20px;
}

@media (max-width: 768px) {
    .app-container {
        grid-template-rows: auto 1fr auto;
    }
}

@media (max-width: 480px) {
    .app-container {
        grid-template-rows: auto 1fr auto;
    }
}